.container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.bg { 
    /* The image used */
     background-image: url("tw.70dfe2e07753.jfif");
   
     /* Full height */
     height: 200%; 
     width: 100%;
     margin-left: 0; 
 
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
     margin-bottom: 0;
     text-align: center;
 }
  

#start_view {
    display: flex;
    justify-content: center;    
    
}

.explain {
    width: 500px;
    background-color: bisque;
    padding: 20px;
    border-radius: 15px;
    
}

#timer_view {
    padding-bottom: 10px;
    font-size: large;
    font-weight: 500;
}

.padding-top {
    padding-top: 20px;
}

.paddings {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.margin-buttom {
    margin-bottom: 15px;
}

.center {
    margin:0 auto;
    text-align: center;
}

.left {
    margin:0 auto;
    text-align: left;
}

.right {
    margin:0 auto;
    text-align: right;
}

.wrapper-class input[type="radio"] {
    width: 15px;
  }
  
.wrapper-class label {
    display: inline;
    margin-left: 5px;
}

.block {
    display: block;
}

.none {
    display: none;
}

#message {
    color: green;
    font-size: large;
    font-weight: 600;
}

.correct {
    color: green;
    font-size: medium;
    font-weight: 600;
}

.false {
    color: red;
    font-size: medium;
    font-weight: 600;
}

.poin {
    color: green;
    font-size:xx-large;
    font-weight:800;
}

.report {
    color: red;
    font-size:xx-large;
    font-weight:800;
}

.inlineleft{
    float: left;
}
  
.inlineright{
    float: right;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: medium;
    padding: 2px 0; 
    line-height: 1.428571429;
    border-radius: 20px;
    background-color: white;
    border: none;
    
  }

.bold{
    font-weight: 600;
}

.row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row > div[class*='col-'] {
   display: flex;
 }

 .margins {
    margin-left: 15px;
    margin-right: 15px;
    
   
}